body {
    background-color: black !important;
}

.swLetter {
    /* font-size: 500 em;     */
    color: #6BBCBD;
}

.yellow-letter {
    color: #D6CD1C;
}

#logo {
    max-width: 10%; 
    height: auto;   
}
.movie-picture {
    max-width: 200px;
}

.modal-back {
    background-color: grey !important;
}


